
$text-color-1: black;
$text-accent:#999999;
$primary-color-1: #3966b8;
$accent-color-1 : #4c5666;
$background-color-1:#e9ebee;
$background-accent: #f5f6f7;

$button-color-1 : #69a74e;
$border-color-1: #3b6e22;
$loading_color_1 : #FF5722;
$success_color_1 : #009688;
$nav_background_1 : #006b61;
$card-data_1 : $nav_background_1;
$error_background_1 : #d60049;
$warning_background_1 : wheat;

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
  background-color: $background-color-1 !important;
  color: $text-color-1 !important;
}
.bp3-navbar-heading{
  font-weight: bold !important;
  font-size: x-large !important;
  font-family: cursive;
}
button:disabled {
  opacity: 0.5;
}

.grid-item {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  grid-gap: 16px;
}

.grid {
  display: grid;
  grid-template-columns: 18% 80%;
  margin: 10px;
  justify-content: space-between;
  grid-gap: 2%;
}

.h-space {
  margin-left: 3px;
  margin-right: 3px;
}

.v-space {
  margin-top: 3px;
  margin-bottom: 3px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.h-centered-spaced {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 3%;
}
.card-text {
  margin-top: 0;
  margin-bottom: 10px;
  max-height: 129px;
  max-inline-size: max-content;
  overflow-y: hidden;
}
.card-title {
  margin-left: 3%;
  color:$card-data_1;
  display: flex;
  flex-direction: column;
}
.card-title span {
  font-weight: bold;
  margin-bottom: 15%;
}

.v-aligned-spaced {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loading-circle {
  border: 4px solid $loading_color_1;
  border-radius: 50%;
  border-top: 4px solid $success_color_1;
  width: 35px;
  height: 35px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
  margin-left: 38%;
  margin-top: 20%;
}

.bp3-navbar {
  position: fixed;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.bp3-navbar-group.bp3-align-right {
  float: right;
  min-width: 400px;
}

.nav-bar-align {
  width: 40%;
  display: flex !important;
  align-items: space-between;
  flex-direction: row;
  justify-content: flex-end;
}

select{
  margin: 5%;
  padding: 1%;
}
  
.simple-menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 7% 2% 7% 1%;
}
.simple-menu span {
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
  &:nth-child(2) {
    color: red;
  }
}

.simple-menu svg:hover{
  display: inline;
  columns: red;
}

.bp3-card{
  padding: 2% !important;
}


.loader {
  height: 4px;
  width: 100%;
  display: inline-block !important;
  position: absolute;
  overflow: hidden;
  background-color: $success_color_1;
}

.loader:before {
  display: inline-block !important;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 3px;
  background-color: $loading_color_1;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}

.fill-height{
  height: -webkit-fill-available;
}


#snackbar {
  visibility: hidden;
  min-width: 45%;
  min-height: 50px;
  background-color:$success_color_1;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  left: 53%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .snack-close{
    color: white;
    background-color: transparent;
    border: solid 1px #ffffff38;
  }
}
#snackbar.i-error{
  background-color: $error_background_1 !important;
}
#snackbar.i-warning{
  background-color: $warning_background_1 !important; 
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
 However, delay the fade out process for 2.5 seconds */
 -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
 animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

